*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: rgba(34, 34, 34);

}
form{
    width: 500px;
    height: 700px;
    box-shadow: black 0px 0px 10px;
    margin: auto;
    margin-top: 10%;
    color: white;
}
.form-head{
    height: 50px;
    background-color: rgba(101, 217, 254);
}
.form-head a{
    height: 50px;
    width: 50px;
    background-color: white;
    text-decoration: none;
    display: inline-block;
    text-align: center;
    line-height: 50px;
    font-size: 30px;
}
.form-head h2{
    display: inline-block;
    width: 89%;
    text-align: center;
    height: 50px;
    line-height: 50px;
}
.form-body{
    padding: 20px;
}
.form-name-input{
    width: 100%;
    background: none;
    border: none;
    outline: none;
    padding: 20px;
    color: white;
    font-size: 20px;
    border-bottom: 2px solid white;
    margin-bottom: 20px;
}
.form-family-input{
    width: 100%;
    background: none;
    border: none;
    outline: none;
    padding: 20px;
    color: white;
    font-size: 20px;
    border-bottom: 2px solid white;
    margin-bottom: 20px;
}
.radio{
    margin: 10px;
}
textarea{
    width: 100%;
    background: none;
    height: 200px;
    resize: none;
    outline: none;
    border: solid 3px white;
    margin-top: 40px;
}
button{
    margin: 50px auto;
    display: block;
    width: 200px;
}